footer {
    background-color: #00FF00;
    height: 60px; width: 100%;
    line-height: 0%;
    position: absolute;
    bottom: 0%;
  }
p {
    color:black;
    text-align: center;
    line-height: 30px;
  }
